:root {
    --link-color: #FF6464;
    --main-text-col: #21243D;
    --title-color: #0A2A42;
    --data-color: #636B78;
    --work-data-col: #2A326F;


}

/* navigation */
.nav-link {
    color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--link-color)
}

.open {
    color: var(--link-color);
}

/* Hero */
.hero {
    color: var(--title-color);
}

.hero-text {
    color: var(--main-text-col);
}

.hero-link {
    background-color: var(--link-color);
    color: #ffffff;

}

.hero-link:hover,
.hero-link:focus {
    background-color: #ffffff;
    color: var(--link-color);
}

/* recent post  */
.recpost {
    color: #000000;
    background-color: #EDF7FA;
}

.recpost-list {
    background-color: #ffffff;
}

.recpost-link {
    color: #00A8CC;
}

.recpost-link:hover,
.recpost-link:focus {
    color: var(--link-color);
}

.recpost-title-exm {
    color: var(--title-color);
}

.recpost-data {
    color: var(--data-color);
}

.recpost-text {
    color: var(--main-text-col);
}

/* future title */
.future-title {
    color: #000000;
}

.c-link {
    color: #00A8CC;
}

.future-link:hover,
.future-link:focus {
    color: var(--link-color);
}

.future-exm-title {
    color: var(--title-color);
}

.future-data {
    color: #ffffff;
    background-color: var(--work-data-col);
}

.future-exm-desk {
    color: #8695A4;
}

.future-text {
    color: var(--main-text-col);
}

/* footer */
.footer-copy {
    color: #678398;
}

/* work zone */